# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main  
_openmp_mutex             5.1                       1_gnu  
absl-py                   1.3.0                    pypi_0    pypi
aiohttp                   3.8.3                    pypi_0    pypi
aiosignal                 1.2.0                    pypi_0    pypi
alabaster                 0.7.12                   pypi_0    pypi
ale-py                    0.7.4                    pypi_0    pypi
alembic                   1.8.1                    pypi_0    pypi
anyio                     3.6.2                    pypi_0    pypi
arch                      5.3.0                    pypi_0    pypi
argon2-cffi               21.3.0                   pypi_0    pypi
argon2-cffi-bindings      21.2.0                   pypi_0    pypi
asttokens                 2.1.0                    pypi_0    pypi
async-timeout             4.0.2                    pypi_0    pypi
attrs                     22.1.0                   pypi_0    pypi
autopage                  0.5.1                    pypi_0    pypi
autorom                   0.4.2                    pypi_0    pypi
autorom-accept-rom-license 0.4.2                    pypi_0    pypi
babel                     2.11.0                   pypi_0    pypi
backcall                  0.2.0                    pypi_0    pypi
beautifulsoup4            4.11.1                   pypi_0    pypi
black                     22.10.0                  pypi_0    pypi
bleach                    5.0.1                    pypi_0    pypi
box2d-py                  2.3.8                    pypi_0    pypi
ca-certificates           2022.10.11           h06a4308_0  
cachetools                5.2.0                    pypi_0    pypi
certifi                   2022.9.24        py38h06a4308_0  
cffi                      1.15.1                   pypi_0    pypi
chai-sacred               0.8.3                    pypi_0    pypi
chardet                   5.0.0                    pypi_0    pypi
charset-normalizer        2.1.1                    pypi_0    pypi
click                     8.1.3                    pypi_0    pypi
cliff                     4.0.0                    pypi_0    pypi
cloudpickle               2.2.0                    pypi_0    pypi
cmaes                     0.8.2                    pypi_0    pypi
cmd2                      2.4.2                    pypi_0    pypi
colabgymrender            1.0.2                    pypi_0    pypi
colorama                  0.4.6                    pypi_0    pypi
colorlog                  6.7.0                    pypi_0    pypi
commonmark                0.9.1                    pypi_0    pypi
contourpy                 1.0.6                    pypi_0    pypi
coverage                  6.5.0                    pypi_0    pypi
cycler                    0.11.0                   pypi_0    pypi
cython                    0.29.32                  pypi_0    pypi
dataproperty              0.55.0                   pypi_0    pypi
datasets                  2.6.1                    pypi_0    pypi
debugpy                   1.6.3                    pypi_0    pypi
decorator                 4.4.2                    pypi_0    pypi
defusedxml                0.7.1                    pypi_0    pypi
dill                      0.3.5.1                  pypi_0    pypi
docker-pycreds            0.4.0                    pypi_0    pypi
docopt                    0.6.2                    pypi_0    pypi
docutils                  0.17.1                   pypi_0    pypi
entrypoints               0.4                      pypi_0    pypi
exceptiongroup            1.0.1                    pypi_0    pypi
execnet                   1.9.0                    pypi_0    pypi
executing                 1.2.0                    pypi_0    pypi
fasteners                 0.15                     pypi_0    pypi
fastjsonschema            2.16.2                   pypi_0    pypi
filelock                  3.8.0                    pypi_0    pypi
flake8                    5.0.4                    pypi_0    pypi
flake8-bugbear            22.10.27                 pypi_0    pypi
fonttools                 4.38.0                   pypi_0    pypi
free-mujoco-py            2.1.6                    pypi_0    pypi
frozenlist                1.3.1                    pypi_0    pypi
fsspec                    2022.10.0                pypi_0    pypi
gitdb                     4.0.9                    pypi_0    pypi
gitpython                 3.1.29                   pypi_0    pypi
glfw                      1.12.0                   pypi_0    pypi
google-auth               2.14.0                   pypi_0    pypi
google-auth-oauthlib      0.4.6                    pypi_0    pypi
greenlet                  2.0.0.post0              pypi_0    pypi
grpcio                    1.50.0                   pypi_0    pypi
gym                       0.21.0                   pypi_0    pypi
gym-minigrid              1.0.3                    pypi_0    pypi
huggingface-hub           0.10.1                   pypi_0    pypi
huggingface-sb3           2.2.4                    pypi_0    pypi
idna                      3.4                      pypi_0    pypi
imagehash                 4.3.1                    pypi_0    pypi
imageio                   2.4.1                    pypi_0    pypi
imageio-ffmpeg            0.4.7                    pypi_0    pypi
imagesize                 1.4.1                    pypi_0    pypi
imitation                 0.3.1                    pypi_0    pypi
importlab                 0.8                      pypi_0    pypi
importlib-metadata        4.13.0                   pypi_0    pypi
importlib-resources       5.10.0                   pypi_0    pypi
iniconfig                 1.1.1                    pypi_0    pypi
install                   1.3.5                    pypi_0    pypi
ipdb                      0.13.9                   pypi_0    pypi
ipykernel                 6.17.0                   pypi_0    pypi
ipython                   8.6.0                    pypi_0    pypi
ipython-genutils          0.2.0                    pypi_0    pypi
ipywidgets                8.0.2                    pypi_0    pypi
isort                     5.10.1                   pypi_0    pypi
jedi                      0.18.1                   pypi_0    pypi
jinja2                    3.1.2                    pypi_0    pypi
joblib                    1.2.0                    pypi_0    pypi
jsonpickle                2.2.0                    pypi_0    pypi
jsonschema                4.17.0                   pypi_0    pypi
jupyter                   1.0.0                    pypi_0    pypi
jupyter-client            7.4.4                    pypi_0    pypi
jupyter-console           6.4.4                    pypi_0    pypi
jupyter-core              4.11.2                   pypi_0    pypi
jupyter-server            1.21.0                   pypi_0    pypi
jupyterlab-pygments       0.2.2                    pypi_0    pypi
jupyterlab-widgets        3.0.3                    pypi_0    pypi
kiwisolver                1.4.4                    pypi_0    pypi
ld_impl_linux-64          2.38                 h1181459_1  
libcst                    0.4.7                    pypi_0    pypi
libffi                    3.3                  he6710b0_2  
libgcc-ng                 11.2.0               h1234567_1  
libgomp                   11.2.0               h1234567_1  
libstdcxx-ng              11.2.0               h1234567_1  
livereload                2.6.3                    pypi_0    pypi
mako                      1.2.3                    pypi_0    pypi
markdown                  3.4.1                    pypi_0    pypi
markupsafe                2.1.1                    pypi_0    pypi
matplotlib                3.6.2                    pypi_0    pypi
matplotlib-inline         0.1.6                    pypi_0    pypi
mbstrdecoder              1.1.1                    pypi_0    pypi
mccabe                    0.7.0                    pypi_0    pypi
mistune                   2.0.4                    pypi_0    pypi
monotonic                 1.6                      pypi_0    pypi
moviepy                   1.0.3                    pypi_0    pypi
mujoco-py                 2.1.2.14                 pypi_0    pypi
multidict                 6.0.2                    pypi_0    pypi
multiprocess              0.70.13                  pypi_0    pypi
munch                     2.5.0                    pypi_0    pypi
mypy-extensions           0.4.3                    pypi_0    pypi
nbclassic                 0.4.8                    pypi_0    pypi
nbclient                  0.7.0                    pypi_0    pypi
nbconvert                 7.2.3                    pypi_0    pypi
nbformat                  5.7.0                    pypi_0    pypi
ncurses                   6.3                  h5eee18b_3  
nest-asyncio              1.5.6                    pypi_0    pypi
networkx                  2.8.3                    pypi_0    pypi
ninja                     1.10.2.4                 pypi_0    pypi
notebook                  6.5.2                    pypi_0    pypi
notebook-shim             0.2.2                    pypi_0    pypi
numpy                     1.23.4                   pypi_0    pypi
numpydoc                  1.5.0                    pypi_0    pypi
nvidia-cublas-cu11        11.10.3.66               pypi_0    pypi
nvidia-cuda-nvrtc-cu11    11.7.99                  pypi_0    pypi
nvidia-cuda-runtime-cu11  11.7.99                  pypi_0    pypi
nvidia-cudnn-cu11         8.5.0.96                 pypi_0    pypi
oauthlib                  3.2.2                    pypi_0    pypi
opencv-python             4.6.0.66                 pypi_0    pypi
openssl                   1.1.1q               h7f8727e_0  
optuna                    3.0.3                    pypi_0    pypi
packaging                 21.3                     pypi_0    pypi
panda-gym                 1.1.1                    pypi_0    pypi
pandas                    1.5.1                    pypi_0    pypi
pandocfilters             1.5.0                    pypi_0    pypi
parso                     0.8.3                    pypi_0    pypi
pathspec                  0.10.1                   pypi_0    pypi
pathtools                 0.1.2                    pypi_0    pypi
pathvalidate              2.5.2                    pypi_0    pypi
patsy                     0.5.3                    pypi_0    pypi
pbr                       5.11.0                   pypi_0    pypi
pexpect                   4.8.0                    pypi_0    pypi
pickleshare               0.7.5                    pypi_0    pypi
pillow                    9.3.0                    pypi_0    pypi
pip                       22.2.2           py38h06a4308_0  
pkgutil-resolve-name      1.3.10                   pypi_0    pypi
platformdirs              2.5.2                    pypi_0    pypi
plotly                    5.11.0                   pypi_0    pypi
pluggy                    1.0.0                    pypi_0    pypi
prettytable               3.5.0                    pypi_0    pypi
proglog                   0.1.10                   pypi_0    pypi
prometheus-client         0.15.0                   pypi_0    pypi
promise                   2.3                      pypi_0    pypi
prompt-toolkit            3.0.32                   pypi_0    pypi
property-cached           1.6.4                    pypi_0    pypi
protobuf                  3.19.6                   pypi_0    pypi
psutil                    5.9.3                    pypi_0    pypi
ptyprocess                0.7.0                    pypi_0    pypi
pure-eval                 0.2.2                    pypi_0    pypi
py-cpuinfo                9.0.0                    pypi_0    pypi
pyaml                     21.10.1                  pypi_0    pypi
pyarrow                   10.0.0                   pypi_0    pypi
pyasn1                    0.4.8                    pypi_0    pypi
pyasn1-modules            0.2.8                    pypi_0    pypi
pybullet                  3.2.5                    pypi_0    pypi
pycodestyle               2.9.1                    pypi_0    pypi
pycparser                 2.21                     pypi_0    pypi
pydot                     1.4.2                    pypi_0    pypi
pyenchant                 3.2.2                    pypi_0    pypi
pyflakes                  2.5.0                    pypi_0    pypi
pyglet                    2.0.0                    pypi_0    pypi
pygments                  2.13.0                   pypi_0    pypi
pyparsing                 3.0.9                    pypi_0    pypi
pyperclip                 1.8.2                    pypi_0    pypi
pyrsistent                0.19.2                   pypi_0    pypi
pytablewriter             0.64.2                   pypi_0    pypi
pytest                    7.2.0                    pypi_0    pypi
pytest-cov                4.0.0                    pypi_0    pypi
pytest-env                0.8.1                    pypi_0    pypi
pytest-instafail          0.3.0                    pypi_0    pypi
pytest-xdist              3.0.2                    pypi_0    pypi
python                    3.8.13               haa1d7c7_1  
python-dateutil           2.8.2                    pypi_0    pypi
pytype                    2022.10.26               pypi_0    pypi
pytz                      2022.6                   pypi_0    pypi
pyvirtualdisplay          3.0                      pypi_0    pypi
pywavelets                1.4.1                    pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
pyzmq                     24.0.1                   pypi_0    pypi
qtconsole                 5.4.0                    pypi_0    pypi
qtpy                      2.2.1                    pypi_0    pypi
readline                  8.2                  h5eee18b_0  
regex                     2022.10.31               pypi_0    pypi
requests                  2.28.1                   pypi_0    pypi
requests-oauthlib         1.3.1                    pypi_0    pypi
responses                 0.18.0                   pypi_0    pypi
rich                      12.6.0                   pypi_0    pypi
rl-zoo3                   1.7.0a1                   dev_0    <develop>
rliable                   1.0.8                    pypi_0    pypi
rsa                       4.9                      pypi_0    pypi
sb3-contrib               1.6.2                    pypi_0    pypi
scikit-learn              1.1.3                    pypi_0    pypi
scikit-optimize           0.9.0                    pypi_0    pypi
scipy                     1.8.1                    pypi_0    pypi
seaborn                   0.12.1                   pypi_0    pypi
send2trash                1.8.0                    pypi_0    pypi
sentry-sdk                1.10.1                   pypi_0    pypi
setproctitle              1.3.2                    pypi_0    pypi
setuptools                65.5.0           py38h06a4308_0  
shortuuid                 1.0.9                    pypi_0    pypi
six                       1.16.0                   pypi_0    pypi
sk-video                  1.1.10                   pypi_0    pypi
smmap                     5.0.0                    pypi_0    pypi
sniffio                   1.3.0                    pypi_0    pypi
snowballstemmer           2.2.0                    pypi_0    pypi
soupsieve                 2.3.2.post1              pypi_0    pypi
sphinx                    5.3.0                    pypi_0    pypi
sphinx-autobuild          2021.3.14                pypi_0    pypi
sphinx-autodoc-typehints  1.19.5                   pypi_0    pypi
sphinx-copybutton         0.5.0                    pypi_0    pypi
sphinx-rtd-theme          1.1.1                    pypi_0    pypi
sphinxcontrib-applehelp   1.0.2                    pypi_0    pypi
sphinxcontrib-devhelp     1.0.2                    pypi_0    pypi
sphinxcontrib-htmlhelp    2.0.0                    pypi_0    pypi
sphinxcontrib-jsmath      1.0.1                    pypi_0    pypi
sphinxcontrib-qthelp      1.0.3                    pypi_0    pypi
sphinxcontrib-serializinghtml 1.1.5                    pypi_0    pypi
sphinxcontrib-spelling    7.6.2                    pypi_0    pypi
sqlalchemy                1.4.43                   pypi_0    pypi
sqlite                    3.39.3               h5082296_0  
stable-baselines3         1.6.2                    pypi_0    pypi
stack-data                0.6.0                    pypi_0    pypi
statsmodels               0.13.5                   pypi_0    pypi
stevedore                 4.1.0                    pypi_0    pypi
tabledata                 1.3.0                    pypi_0    pypi
tabulate                  0.9.0                    pypi_0    pypi
tcolorpy                  0.1.2                    pypi_0    pypi
tenacity                  8.1.0                    pypi_0    pypi
tensorboard               2.10.1                   pypi_0    pypi
tensorboard-data-server   0.6.1                    pypi_0    pypi
tensorboard-plugin-wit    1.8.1                    pypi_0    pypi
terminado                 0.17.0                   pypi_0    pypi
threadpoolctl             3.1.0                    pypi_0    pypi
tinycss2                  1.2.1                    pypi_0    pypi
tk                        8.6.12               h1ccaba5_0  
tokenizers                0.13.1                   pypi_0    pypi
toml                      0.10.2                   pypi_0    pypi
tomli                     2.0.1                    pypi_0    pypi
torch                     1.13.0                   pypi_0    pypi
tornado                   6.2                      pypi_0    pypi
tqdm                      4.64.1                   pypi_0    pypi
traitlets                 5.5.0                    pypi_0    pypi
transformers              4.24.0                   pypi_0    pypi
typepy                    1.3.0                    pypi_0    pypi
typing-extensions         4.4.0                    pypi_0    pypi
typing-inspect            0.8.0                    pypi_0    pypi
urllib3                   1.26.12                  pypi_0    pypi
wandb                     0.13.5                   pypi_0    pypi
wasabi                    0.10.1                   pypi_0    pypi
wcwidth                   0.2.5                    pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
websocket-client          1.4.2                    pypi_0    pypi
werkzeug                  2.2.2                    pypi_0    pypi
wheel                     0.37.1             pyhd3eb1b0_0  
widgetsnbextension        4.0.3                    pypi_0    pypi
wrapt                     1.14.1                   pypi_0    pypi
xvfbwrapper               0.2.9                    pypi_0    pypi
xxhash                    3.1.0                    pypi_0    pypi
xz                        5.2.6                h5eee18b_0  
yarl                      1.8.1                    pypi_0    pypi
zipp                      3.10.0                   pypi_0    pypi
zlib                      1.2.13               h5eee18b_0  

